@font-face {
	font-family: "Quicksand";
	src: url("/assets/fonts/Quicksand-Medium.ttf");
}

@font-face {
	font-family: "HarmonyOS Sans SC";
	src: url("/assets/fonts/HarmonyOS_Sans_SC_Regular.ttf");
}

body {
	font-family: var(--global-font),-apple-system, Quicksand, HarmonyOS Sans SC, "微软雅黑", sans-serif
}
