@font-face {
	font-family: "Quicksand";
	src: url("/docs/assets/fonts/Quicksand-Medium.ttf");
}

@font-face {
	font-family: "HarmonyOS Sans SC";
	src: url("docs/assets/fonts/HarmonyOS_Sans_SC_Regular.ttf");
}

body {
	font-family: 'Quicksand', 'HarmonyOS Sans SC', 'Arial', sans-serif;
}

/**标题颜色**/

.md-typeset h1 {
    text-align: center;
    color: #4cae4f;
    font-weight: bold;
}

.md-typeset h2 {
    color: #9F4E00;
    font-weight: bold;
}

.md-typeset h3 {
    color: #0C9B6E;
    font-weight: bold;
}

.md-typeset h4 {
    color: black;
    font-weight: bold;
}

.md-typeset h5 {
    color: #06620C;
    font-weight: bold;
}

/**图片居中和圆角**/

.md-typeset img, .md-typeset svg, .md-typeset video {
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.md-typeset img, .md-typeset svg, .md-typeset video {
    max-width: 100%;
}

/**转换挖空**/

.md-typeset mark {
    color: transparent;
}

.md-typeset mark:hover {
  color: var(--text-highlight) !important;
}

/**行高和字符间距**/

.md-typeset {
    line-height: 1.8;
    letter-spacing: 1px;
}